*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 50%;
    border: 3px solid white;
    border-radius: 50px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    
}

.nav-list {
    width: 172%;
    /* background-color: black; */
    display: flex;
    align-items: center;
}

.nav-list li {
list-style: none;
padding: 22px 15px;
font-size: 20px;
}

.nav-list li a:hover{
text-decoration: none;
color: red;
}

.rightnav{
    /* background-color: violet; */
    width: 50%;
    text-align: right;
    padding: 0 23px;
}

#search{
    padding: 1px;
    font-size: 12px;
    border: 4px solid gray;
    border-radius: 28px;
}

.background{
    background: rgba(0, 0, 0, 0.7) url('../img/pic1.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstsection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
max-width: 41%;
margin: auto;
height: 65%;
}

.firsthalf{
    width: 69%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondhalf{
    width: 32%;
}

.secondhalf img{
    width: 84%;
    padding: 1px 0;
    border: 3px solid white;
    border-radius: 68px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 30px;
}

.text-small{
    font-size: 18px;
}

.btn{
    padding: 3px 22px;
    margin: 9px 4px;
    border: 1px solid white;
    font-size: 18px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm{
    padding: 3px 15px;
    vertical-align: middle;
}

.section{
    /* height: 219px; */
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    max-width: 95%;
    margin: auto;

}

.section-left{
    flex-direction: row-reverse;

}
.paras{
    padding: 0px 50px;
}

.sectiontag{
    padding: 4px 0;
}

.sectionsubtag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.thumbnail img{
    width: 28%;
    padding: 17px 0;
    border: 3px solid white;
    border-radius: 73px;
    display: block;
    margin: auto;
}

.contact{
    background-color: gray;
    height: 50vh;
}

.text-center{
    text-align: center;
}

.text-footerr{
     text-align: center;
     padding: 4px 0;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     display: flex;
     justify-content: center;
     color: white;
}
.backgroundd{
    text-align: center;
    background-color: rgb(247, 240, 240);
}

.burgur{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;

}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px;
}

@media only screen and (max-width:878px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 417px;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }
    .rightnav{
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
        height: 107%;
    }
    #search{
        width: 44%;
    }
    .burgur{
        display: block;
    }
    .h-nav-resp{
        height: 65px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;
        font-size: 10px;
    }
    .text-big{
        text-align: center;
        font-size: 21px;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px;
    }
}